
<nav class="navbar navbar-expand-lg navbar-dark  navbar-fixed fixed-top">
    <img src="img/logos/logo_navbar_superior.jpg" alt="" style="width:40px" class="rounded-circle">
      <a class="navbar-brand ml-2" href="#">EMPRESA | Nombre Proyecto<sup>&reg</sup></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown dropright">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white">
             <i class="fa fa-circle fa-md "> </i> Menú Principal
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="box-shadow:1px 2px 10px black; background-image:url('img/bckgr/bc3.jpg') ">
            <div class="dropdown-divider"></div>
              <div class="dropdown-header" style="color"><i class="fa fa-users fa-md" style="color:#E6AC00"></i> | Sección 1</div>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#"> <i class="fa fa-user-friends fa-sm" style="color: #5E97CB;"></i> - Opción 1</a>
              <a class="dropdown-item" href="#"><i class="fa fa-user-check fa-sm" style="color: #5E97CB;"></i> - Opción 2</a>
              <div class="dropdown-divider"></div>

              <div class="dropdown-header"> <i class="fa fa-city fa-sm" style="color:#DC3445"></i> Sección 2</div>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#"> <i class="fa fa-boxes fa-sm" style="color: #5E97CB;"></i> - Opción 3</a>
              <a class="dropdown-item" href="#"> <i class="fa fa-business-time fa-sm" style="color: #5E97CB;"></i> - Opción 4</a>
              <div class="dropdown-divider"></div>
            </div>
          </li>
        </ul>
      </div>
    </nav>

    <body class="body" style="background: url('img/fondos/fondo_principal.jpg') no-repeat center center fixed;-webkit-background-size: cover; -moz-background-size: cover; background-size: cover;-o-background-size: cover;> 
      <header>
      </header>    
        <div style="height:50px"></div>